<!DOCTYPE html>
<html>
<head>
<title>IndoorAir | Home</title>
</head>
<body>
    <script>
        {% include "dashboard/dashboard.js" %}
    </script>

    <h1>Dashboard</h1>
    <p>Welcome to your dashboard. Your averages are:</p>
    <p>Average Temperature:</p>
    <p id="avg_temperature">---</p>
    <p>Average Humidity:</p>
    <p id="avg_humidity">---</p>
    <p>Average CO2:</p>
    <p id="avg_co2">---</p>
    <p>Average Pressure:</p>
    <p id="avg_pressure">---</p>
    <p>Average TVOC:</p>
    <p id="avg_tvoc">---</p>
    <br />
    <a href="{% url 'instrument_list_page' %}">List Instruments</a>
    <a href="{% url 'profile_retrieve_page' %}">View Profile</a>

    <button onclick="onLogoutClick();">Logout</button>

</body>
</html>
