<!DOCTYPE html>
<html>
<head>
<title>Update Instrument</title>
</head>
<body>
  <script>
    {% include "instrument/update.js" %}
  </script>

<h1>Update</h1>

<p>
<input id = "update_instrument_user" name = "update_instrument_user" type = "text">Enter Exsiting Instrument User </input>
</p>

<p>
<input id = "update_instrument_name" name = "update_instrument_name" type = "text">Enter New Instrument Name </input>
</p>



<p>

</p>
  <button type ="button" onclick ="onUpdateClick()">Update</button>

<p id="update"></p>

</body>
</html>
